BASE_URL=              # Базовый url
CR_VALUE=              # Валюта(опционально, вы можете добавлять свои данные)
OUTPUT_DIR_DEV=        # Дирректория для сохранения изображений в режиме --dev
OUTPUT_DIR_PROD=       # Дирректория для сохранения изображений
QR_BOX_SIZE=           # Размер стандартного QR-кода 
QR_BOX_SIZE_SMALL=     # Размер маленького QR-кода для шаблона
QR_BORDER=             # Рамка стандарного QR-кода
QR_BORDER_SMALL=       # Рамка маленького QR-кода для шаблона
RESIZE_IMG =           # Пропорции измененного QR-кода для шаблона
FILL_COLOR =           # Цвет QR-кода
BACK_COLOR =           # Цвет фона QR-кода